##Memulai Python

In [1]:
print("Hello World!!!")

Hello World!!!

In [2]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [3]:
import numpy as np

In [4]:
tinggi = [187, 183, 190]

In [5]:
print(tinggi)

[187, 183, 190]

In [6]:
berat = [87,83, 90]

In [7]:
print(berat)

[87, 83, 90]

In [8]:
np_tinggi = np.array(tinggi)
np_berat = np.array(berat)

In [9]:
np_beratideal = np_tinggi/np_berat

In [10]:
print(np_beratideal)

[2.14942529 2.20481928 2.11111111]

##INSTALL PANDAS

In [11]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [12]:
import pandas as pd

In [13]:
Data = pd.read_csv("/content/Tab.csv")

In [14]:
Data

  Unnamed: 0     Negara  Populasi    Area    Ibukota
0         IN  Indonesia       250  123456    Jakarta
1         MA   Malaysia        25    3456         KL
2         SI  Singapura        15     456  Singapura
3         JP     Jepang        60    5678      Tokyo
4         TH   Thailand        45     678    Bangkok

In [18]:
Data(Negara)

NameError: ignored

##Install Matplotlib

In [19]:
pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [20]:
import matplotlib.pyplot as pit

In [21]:
tahun = [1980, 1990, 2000, 2010, 2020]

In [22]:
penduduk = [2010, 2050, 2100, 2150, 2180]

In [23]:
pit.bar
pit.show